.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-text Still Leaf
      -if session[:ig_access_token]
        %li
          %a{:href => "/media/user"} Recent Post
        %li
          %a{:href => "/media/search"} Location Search
  .top-bar-right
    %ul.menu
      -if current_user
        %li
          %img.avatar{src: current_user.profile_picture}
      -if session[:ig_access_token]
        %li
          %a{:href => "/logout"} Logout
      -else
        %li
          %a{:href => "/oauth/connect"} Login with Instagram
