.row
  %h2
    -if @query
      =@query
    -elsif @media && @media.count > 0
      =@media.first.location.name
    -else
      Search for location

.row
  .medium-12.large-12.columns
    %form{action: "/media_search", method: "get"}
      .row
        .small-12.columns
          %label
            Location
            %input{name: "query", type: "text", placeholder: "Paris, France", value: @query}/
      .row.column
        %button.button.hollow.expanded{type: "submit"} Submit

-if @media
  -if @media.count > 0
    =partial :media, locals: { media: @media }
  -else
    .row
      .large-12.text-center
        %h3 Sorry, we couldn't find any grams from that location.
