.row
  %h2
    Instagram API nav
  %ol
    %li
      %a{:href => "/media/user"} User Recent Media
      Calls user_recent_media - Get a list of a user's most recent media
    %li
      %a{:href => "/media/media_search"} Media Search
      Calls media_search - Get a list of media close to a given latitude and longitude
