.callout.large
  .row.column.text-center
    %h1 Neat Instagram Thing!
    %p.lead You can get a look slideshow of some pictures from Instagram
    %a.button.large{:href => "/oauth/connect"} Login with Instagram
    %a.button.large.hollow{:href => "#"} Learn More
